<footer class="footer">
  <div class="footer-contenido">

    <div class="footer-seccion logo-seccion">
      <img src="logopelu2.png" alt="Peluquería Fernández" class="footer-logo">
      <p>
        Peluquería Fernández<br>
        Unisex y cuidado capilar<br>
        Teléfono: <a href="tel:+34677809356">677809356</a>
      </p>
    </div>

    <div class="footer-seccion">
      <h5>Servicios</h5>
      <ul>
        <li><a href="#">Corte de pelo</a></li>
        <li><a href="#">Tinte</a></li>
        <li><a href="#">Peinados</a></li>
        <li><a href="#">Barba</a></li>
      </ul>
    </div>

    <div class="footer-seccion">
      <h5>Enlaces</h5>
      <ul>
        <li><a href="#">Reservar cita</a></li>
        <li><a href="#">Mi perfil</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>

  </div>
</footer>